/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/app/Http/Controllers/drive.json
/app/Http/Controllers/video.json
/public/presentation
/public/videos
/public/documents
/composer.phar
/composer.lock
/public/_p_content
/public/_p_content.zip
